doctype html
html(lang="en")
  head
    title Yehaa Playlist Viewer
    link(href='/css/yehaa.css', rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type='text/javascript').
      var playlists = !{JSON.stringify(playlists)};
      var spanToken;
      function search(){
         var q = playlists[$('#pl-select').val()];
         $("#loader").css('visibility', 'visible');
         $.ajax({
            url: 'fpl',
            data: {'p': q},
            dataType: 'html',
            error: fetchError,
            success: fetchSuccess
         });
      }
      function fetchError(error, status, eThrown){
        $("#loader").css('visibility', 'hidden');
        console.log(error);
      }
      function fetchSuccess(data){
        $("#search-container").empty().html(data);
        $("#loader").css('visibility', 'hidden');
      }
      function fetchMore(){
        var q = playlists[$('#pl-select').val()];
         $("#loaderNp").css('visibility', 'visible');
         spanToken = $("span#tokenSpan");
         $.ajax({
            url: 'np',
            data: {'p': q, 'pageToken': spanToken.attr("pageToken")},
            dataType: 'html',
            error: npFetchError,
            success: npFetchSuccess
         });
      }
      function npFetchError(error, status, eThrown){
        $("#loaderNp").css('visibility', 'hidden');
        console.log(error);
      }
      function npFetchSuccess(data){
        spanToken.remove();
        $("#result-list").append(data);
        $("#loaderNp").css('visibility', 'hidden');
      }
  body
    header
      h2 Yehaa Playlist Viewer
    center
      .select-artist Select an artist from the dropdown below
      select#pl-select(onchange="search()")
        each playlist, index in playlists
          option(value=index)= playlist
      img#loader(src="/img/ajax-loader.gif", style="visibility: hidden;")
    #search-container
      include playlist.jade
    button#fetch-more(onclick="fetchMore()") Fetch More
    img#loaderNp(src="/img/ajax-loader.gif", style="visibility: hidden;")
   
        