doctype html
html(lang="en")
  head
    title Yehaa Playlist Viewer
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
    <!--link(href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css', rel='stylesheet') -->
    link(href='/css/yehaa.css', rel='stylesheet')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
     <!-- Compiled and minified JavaScript -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
    script(type='text/javascript').
      var playlists = !{JSON.stringify(playlists)};
      var spanToken;
      function search(){
         var q = playlists[$('#pl-select').val()];
         $("#loader").css('visibility', 'visible');
         $.ajax({
            url: 'fpl',
            data: {'p': q},
            dataType: 'html',
            error: fetchError,
            success: fetchSuccess
         });
      }
      function fetchError(error, status, eThrown){
        $("#loader").css('visibility', 'hidden');
        Materialize.toast("There was an error fetching this playlist!", 4000);
        console.log(error);
      }
      function fetchSuccess(data){
        $("#search-container").empty().html(data);
        $("#loader").css('visibility', 'hidden');
      }
      function fetchMore(){
        var q = playlists[$('#pl-select').val()];
         $("#loader").css('visibility', 'visible');
         spanToken = $("span#tokenSpan");
         $.ajax({
            url: 'np',
            data: {'p': q, 'pageToken': spanToken.attr("pageToken")},
            dataType: 'html',
            error: npFetchError,
            success: npFetchSuccess
         });
      }
      function npFetchError(error, status, eThrown){
        $("#loader").css('visibility', 'hidden');
        Materialize.toast("There was an error fetching more playlists!", 4000);
        console.log(error);
      }
      function npFetchSuccess(data){
        spanToken.remove();
        $("#result-list").append(data);
        $("#loader").css('visibility', 'hidden');
      }
      $(document).ready(function() {
         $('#pl-select').material_select();
      });
  body
    header.z-depth-1
      h5(class="purple darken-4") Yehaa Playlist Viewer
      .dropdown-container
        label Select an artist from the dropdown below
        select#pl-select(onchange="search()", class="browser-default")
          each playlist, index in playlists
            option(value=index)= playlist
        #loader.progress(style="visibility: hidden;")
          .indeterminate
    #search-container
      include playlist.jade
    
   
        