#result-count-container= "Total " + helper.numberWithCommas(data.pageInfo.totalResults) + " results"
ul#result-list
  include listItems.jade
button#fetch-more(class="waves-effect waves-light btn purple darken-3", onclick="fetchMore()") Fetch More